html,
body {
  margin: 0;
  padding: 0;
  background-color: #F5F7F1;
}

.main-header {
  background-color: #946b45;
  padding-bottom: 10px;
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5em 1em;
  border-bottom: 1px solid #ccc;
}

.nav-left,
.nav-right {
  display: flex;
  align-items: center;
}
.nav-left button,
.nav-right button {
  margin: 0 0.5em;
}

.sort-dropdown, .breed-dropdown {
  position: relative;
  display: inline-block;
}

.sort-menu, .breed-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  left: 0;
  background-color: #ffedd9;
  border: 1px solid #ccc;
  padding: 2em;
  border-radius: 5px;
  min-width: 120px;
  z-index: 10;
}

.sort-dropdown.active .sort-menu,
.breed-dropdown.active .breed-menu {
  display: flex;
}

.title {
  margin: 0;
  text-align: center;
  font-family: "Verdana";
  font-weight: normal;
  color: black;
}

#dogCard {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.dogCard {
  background-color:#ffedd9 ;
  width: 20%;
  padding: 1em; //adding some spaces inside the card
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin: 15px;
  
  
}

.dogCard img {
  max-width: 100%;
  height: auto;
  border-radius: 5px;
}

.card-content {
  
  padding: 20px;
  font-family: "Verdana";
  color: #777;
}

.card-content h2 {
  margin-top: 0;
  font-size: 20px;
}

.sort-dropdown {
  position: relative;
  display: inline-block;
}

.sort-menu {
  display: none;
  flex-direction: column;
  position: absolute;
  background-color: #ffedd9;
  border: 1px solid #ccc;
  padding: 10px;
  border-radius: 5px;
}

.hidden {
  display: none;
}

button {
  text-align: center;
  background-color: #ef7c8e  ;
  border: none;
  padding-left: 0.5em;
  padding-right: 0.5em; 
  height: 1.5em;
  border-radius: 25px;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  margin: 5px;
}

button:hover { 
  background: #d1477a;
}


footer {
  display: flex;
  justify-content: center;

  background-color: #946b45;
}